.button {
  color: #0099CC;
     border: 2px solid #FF0000;
     border-radius: 70px;
     text-transform: uppercase;
     color: white;
     background: transparent;

}

.button1:hover {
      background-color: #008CBA;
      color: white;
 }


.navigation {
  background-color: black;
  text-align: center;
  font-family: 'Helvetica', sans-serif;

}

.mySlides {
    width: 90%;
    position: relative;
    margin: auto;
}

.tab {
  color: white;
  text-decoration: none;
}

.tab:hover {
  background-color:#a2a2a2;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  background-color: black;
  text-align: center;
}

.grid-container {
  display: grid;
}


.item1 {
  left: 50%;
  right: 50%;
  font-family: 'Impact', sans-serif;
  color: #FF0000;
  font-size: 75px;
  padding: 15px;
  text-align: center;
}

.item2 {
  color:white;
  background-color: black;
  padding: 50px;
  padding-top:10px;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;

}


.item3 {
padding-top: 50px;
text-align: center;
width: 100%;
font-family: 'Arial', sans-serif;

}


.gallery {
  margin: 10px;

}

.pic img {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  height: 380px;
  padding: 5px;
  text-align: center;
}

.pic {
  float: left;
}

img:hover {
    transform: scale(1.1);

}

.music {
  font-size: 25px;
  padding: 15px;
  background-color: black;
  color: white;

}

.music a:hover {
  color: grey;
}
.music a {
  text-decoration: none;
  color: white;
}


form {
  max-width:420px; margin:50px auto;
}

.feedback-input {
  color:white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  padding: 13px;
  margin-bottom: 15px;
  line-height: 22px;
  background-color: black;
  border:2px solid #FF0000;
  transition: all 0.3s;
  width:100%;
  box-sizing: border-box;

}

.feedback-input:focus { border:2px solid black; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  background: #FF0000;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:black; }

h1 {
  font-size: 25px;
  text-align: center;
  color: white;
}


.tab2 {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }

.tab2:hover {
    background-color:#a2a2a2;
  }



@media only screen and (max-width: 600px)  {
.item1 {
  font-size: 90%;
}

.pic img {
  width:70%;
  height:70%;
}

.item2 {
  height: 50%;
  font-size: 20px;
}


@media only screen and (min-width: 770px) {}

@media only screen and (min-width: 990px){}
